In [ ]:
#using K-Means clustering to build a product recommendation system from two different datasets
#one dataset has movies and the other has ratings made by users that have watched the movie; common field is movie_id

In [3]:
import zipfile
with zipfile.ZipFile('C:\Input\ml-latest-small.zip', 'r') as zip_ref:
    zip_ref.extractall('data')

In [4]:
# import the dataset
import pandas as pd
movies_df = pd.read_csv('data/ml-latest-small/movies.csv')
ratings_df = pd.read_csv('data/ml-latest-small/ratings.csv')

In [5]:
# Data Citation:
# F. Maxwell Harper and Joseph A. Konstan. 2015. The MovieLens Datasets: History and Context. ACM Transactions on 
# Interactive Intelligent Systems (TiiS) 5, 4: 19:1â€“19:19. <https://doi.org/10.1145/2827872>

! curl http://files.grouplens.org/datasets/movielens/ml-latest-small.zip -o ml-latest-small.zip

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:--  0:00:02 --:--:--     0
 35  955k   35  338k    0     0   136k      0  0:00:06  0:00:02  0:00:04  136k
100  955k  100  955k    0     0   270k      0  0:00:03  0:00:03 --:--:--  271k
100  955k  100  955k    0     0   267k      0  0:00:03  0:00:03 --:--:--  267k

In [6]:
print('The dimensions of movies dataframe are:', movies_df.shape,'\nThe dimensions of ratings dataframe are:', ratings_df.shape)

The dimensions of movies dataframe are: (9742, 3)
The dimensions of ratings dataframe are: (100836, 4)

In [7]:
# Take a look at movies_df
movies_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [8]:
# Take a look at ratings_df
ratings_df.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [9]:
# Movie ID to movie name mapping
movie_names = movies_df.set_index('movieId')['title'].to_dict()
n_users = len(ratings_df.userId.unique())
n_items = len(ratings_df.movieId.unique())
print("Number of unique users:", n_users)
print("Number of unique movies:", n_items)
print("The full rating matrix will have:", n_users*n_items, 'elements.')
print('----------')
print("Number of ratings:", len(ratings_df))
print("Therefore: ", len(ratings_df) / (n_users*n_items) * 100, '% of the matrix is filled.')
print("We have an incredibly sparse matrix to work with here.")
print("And... as you can imagine, as the number of users and products grow, the number of elements will increase by n*2")
print("You are going to need a lot of memory to work with global scale... storing a full matrix in memory would be a challenge.")
print("One advantage here is that matrix factorization can realize the rating matrix implicitly, thus we don't need all the data")

Number of unique users: 610
Number of unique movies: 9724
The full rating matrix will have: 5931640 elements.
----------
Number of ratings: 100836
Therefore:  1.6999683055613624 % of the matrix is filled.
We have an incredibly sparse matrix to work with here.
And... as you can imagine, as the number of users and products grow, the number of elements will increase by n*2
You are going to need a lot of memory to work with global scale... storing a full matrix in memory would be a challenge.
One advantage here is that matrix factorization can realize the rating matrix implicitly, thus we don't need all the data

In [10]:
import torch
import numpy as np
from torch.autograd import Variable
from tqdm import tqdm_notebook as tqdm

class MatrixFactorization(torch.nn.Module):
    def __init__(self, n_users, n_items, n_factors=20):
        super().__init__()
        # create user embeddings
        self.user_factors = torch.nn.Embedding(n_users, n_factors) # think of this as a lookup table for the input.
        # create item embeddings
        self.item_factors = torch.nn.Embedding(n_items, n_factors) # think of this as a lookup table for the input.
        self.user_factors.weight.data.uniform_(0, 0.05)
        self.item_factors.weight.data.uniform_(0, 0.05)
        
    def forward(self, data):
        # matrix multiplication
        users, items = data[:,0], data[:,1]
        return (self.user_factors(users)*self.item_factors(items)).sum(1)
    # def forward(self, user, item):
    # 	# matrix multiplication
    #     return (self.user_factors(user)*self.item_factors(item)).sum(1)
    
    def predict(self, user, item):
        return self.forward(user, item)

In [11]:
# Creating the dataloader (necessary for PyTorch)
from torch.utils.data.dataset import Dataset
from torch.utils.data import DataLoader # package that helps transform your data to machine learning readiness

# Note: This isn't 'good' practice, in a MLops sense but we'll roll with this since the data is already loaded in memory.
class Loader(Dataset):
    def __init__(self):
        self.ratings = ratings_df.copy()
        
        # Extract all user IDs and movie IDs
        users = ratings_df.userId.unique()
        movies = ratings_df.movieId.unique()
        
        #--- Producing new continuous IDs for users and movies ---
        
        # Unique values : index
        self.userid2idx = {o:i for i,o in enumerate(users)}
        self.movieid2idx = {o:i for i,o in enumerate(movies)}
        
        # Obtained continuous ID for users and movies
        self.idx2userid = {i:o for o,i in self.userid2idx.items()}
        self.idx2movieid = {i:o for o,i in self.movieid2idx.items()}
        
        # return the id from the indexed values as noted in the lambda function down below.
        self.ratings.movieId = ratings_df.movieId.apply(lambda x: self.movieid2idx[x])
        self.ratings.userId = ratings_df.userId.apply(lambda x: self.userid2idx[x])
        
        
        self.x = self.ratings.drop(['rating', 'timestamp'], axis=1).values
        self.y = self.ratings['rating'].values
        self.x, self.y = torch.tensor(self.x), torch.tensor(self.y) # Transforms the data to tensors (ready for torch models.)

    def __getitem__(self, index):
        return (self.x[index], self.y[index])

    def __len__(self):
        return len(self.ratings)

In [12]:
num_epochs = 128
cuda = torch.cuda.is_available()

print("Is running on GPU:", cuda)

model = MatrixFactorization(n_users, n_items, n_factors=8)
print(model)
for name, param in model.named_parameters():
    if param.requires_grad:
        print(name, param.data)
# GPU enable if you have a GPU...
if cuda:
    model = model.cuda()

# MSE loss
loss_fn = torch.nn.MSELoss()

# ADAM optimizier
optimizer = torch.optim.Adam(model.parameters(), lr=1e-3)

# Train data
train_set = Loader()
train_loader = DataLoader(train_set, 128, shuffle=True)

Is running on GPU: False
MatrixFactorization(
  (user_factors): Embedding(610, 8)
  (item_factors): Embedding(9724, 8)
)
user_factors.weight tensor([[0.0241, 0.0197, 0.0420,  ..., 0.0419, 0.0218, 0.0357],
        [0.0082, 0.0418, 0.0145,  ..., 0.0374, 0.0165, 0.0463],
        [0.0085, 0.0138, 0.0077,  ..., 0.0012, 0.0327, 0.0059],
        ...,
        [0.0014, 0.0158, 0.0446,  ..., 0.0152, 0.0148, 0.0178],
        [0.0345, 0.0120, 0.0185,  ..., 0.0265, 0.0124, 0.0142],
        [0.0333, 0.0227, 0.0442,  ..., 0.0463, 0.0087, 0.0314]])
item_factors.weight tensor([[0.0325, 0.0448, 0.0164,  ..., 0.0266, 0.0104, 0.0189],
        [0.0272, 0.0062, 0.0381,  ..., 0.0336, 0.0042, 0.0316],
        [0.0139, 0.0295, 0.0290,  ..., 0.0441, 0.0418, 0.0144],
        ...,
        [0.0106, 0.0417, 0.0480,  ..., 0.0392, 0.0218, 0.0049],
        [0.0022, 0.0127, 0.0481,  ..., 0.0393, 0.0297, 0.0212],
        [0.0112, 0.0262, 0.0388,  ..., 0.0221, 0.0001, 0.0263]])

In [13]:
for it in tqdm(range(num_epochs)):
    losses = []
    for x, y in train_loader:
         if cuda:
            x, y = x.cuda(), y.cuda()
            optimizer.zero_grad()
            outputs = model(x)
            loss = loss_fn(outputs.squeeze(), y.type(torch.float32))
            losses.append(loss.item())
            loss.backward()
            optimizer.step()
    print("iter #{}".format(it), "Loss:", sum(losses) / len(losses))

<ipython-input-13-dad152416852>:1: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for it in tqdm(range(num_epochs)):

  0%|          | 0/128 [00:00<?, ?it/s]

ZeroDivisionError: division by zero

In [15]:
# By training the model, we will have tuned latent factors for movies and users.
c = 0
uw = 0
iw = 0 
for name, param in model.named_parameters():
    if param.requires_grad:
        print(name, param.data)
        if c == 0:
          uw = param.data
          c +=1
        else:
          iw = param.data
        #print('param_data', param_data)

user_factors.weight tensor([[0.0241, 0.0197, 0.0420,  ..., 0.0419, 0.0218, 0.0357],
        [0.0082, 0.0418, 0.0145,  ..., 0.0374, 0.0165, 0.0463],
        [0.0085, 0.0138, 0.0077,  ..., 0.0012, 0.0327, 0.0059],
        ...,
        [0.0014, 0.0158, 0.0446,  ..., 0.0152, 0.0148, 0.0178],
        [0.0345, 0.0120, 0.0185,  ..., 0.0265, 0.0124, 0.0142],
        [0.0333, 0.0227, 0.0442,  ..., 0.0463, 0.0087, 0.0314]])
item_factors.weight tensor([[0.0325, 0.0448, 0.0164,  ..., 0.0266, 0.0104, 0.0189],
        [0.0272, 0.0062, 0.0381,  ..., 0.0336, 0.0042, 0.0316],
        [0.0139, 0.0295, 0.0290,  ..., 0.0441, 0.0418, 0.0144],
        ...,
        [0.0106, 0.0417, 0.0480,  ..., 0.0392, 0.0218, 0.0049],
        [0.0022, 0.0127, 0.0481,  ..., 0.0393, 0.0297, 0.0212],
        [0.0112, 0.0262, 0.0388,  ..., 0.0221, 0.0001, 0.0263]])

In [16]:
trained_movie_embeddings = model.item_factors.weight.data.cpu().numpy()

In [17]:
len(trained_movie_embeddings) # unique movie factor weights

9724

In [18]:
from sklearn.cluster import KMeans
# Fit the clusters based on the movie weights
kmeans = KMeans(n_clusters=10, random_state=0).fit(trained_movie_embeddings)

In [19]:
'''It can be seen here that the movies that are in the same cluster tend to have
similar genres. Also note that the algorithm is unfamiliar with the movie name
and only obtained the relationships by looking at the numbers representing how
users have responded to the movie selections.'''
for cluster in range(10):
  print("Cluster #{}".format(cluster))
  movs = []
  for movidx in np.where(kmeans.labels_ == cluster)[0]:
    movid = train_set.idx2movieid[movidx]
    rat_count = ratings_df.loc[ratings_df['movieId']==movid].count()[0]
    movs.append((movie_names[movid], rat_count))
  for mov in sorted(movs, key=lambda tup: tup[1], reverse=True)[:10]:
    print("\t", mov[0])

Cluster #0
	 American Beauty (1999)
	 Lord of the Rings: The Return of the King, The (2003)
	 Gladiator (2000)
	 Mask, The (1994)
	 Pirates of the Caribbean: The Curse of the Black Pearl (2003)
	 Die Hard (1988)
	 Pretty Woman (1990)
	 LÃ©on: The Professional (a.k.a. The Professional) (LÃ©on) (1994)
	 Kill Bill: Vol. 1 (2003)
	 Ferris Bueller's Day Off (1986)
Cluster #1
	 Pulp Fiction (1994)
	 Matrix, The (1999)
	 Braveheart (1995)
	 Independence Day (a.k.a. ID4) (1996)
	 Aladdin (1992)
	 Twelve Monkeys (a.k.a. 12 Monkeys) (1995)
	 Speed (1994)
	 Monsters, Inc. (2001)
	 Goodfellas (1990)
	 Blade Runner (1982)
Cluster #2
	 Forrest Gump (1994)
	 Schindler's List (1993)
	 Godfather, The (1972)
	 Fargo (1996)
	 Dark Knight, The (2008)
	 Die Hard: With a Vengeance (1995)
	 Stargate (1994)
	 Dumb & Dumber (Dumb and Dumber) (1994)
	 X-Men (2000)
	 Terminator, The (1984)
Cluster #3
	 Back to the Future (1985)
	 Men in Black (a.k.a. MIB) (1997)
	 Memento (2000)
	 Indiana Jones and the Last Crusade (1989)
	 One Flew Over the Cuckoo's Nest (1975)
	 Aliens (1986)
	 Truman Show, The (1998)
	 Incredibles, The (2004)
	 Twister (1996)
	 Beautiful Mind, A (2001)
Cluster #4
	 Fight Club (1999)
	 Apollo 13 (1995)
	 Dances with Wolves (1990)
	 Princess Bride, The (1987)
	 Batman Forever (1995)
	 Monty Python and the Holy Grail (1975)
	 Eternal Sunshine of the Spotless Mind (2004)
	 Rock, The (1996)
	 Home Alone (1990)
	 Net, The (1995)
Cluster #5
	 Jurassic Park (1993)
	 Usual Suspects, The (1995)
	 Seven (a.k.a. Se7en) (1995)
	 Lord of the Rings: The Two Towers, The (2002)
	 Mrs. Doubtfire (1993)
	 Finding Nemo (2003)
	 Titanic (1997)
	 Babe (1995)
	 Catch Me If You Can (2002)
	 Bourne Identity, The (2002)
Cluster #6
	 Star Wars: Episode IV - A New Hope (1977)
	 Lord of the Rings: The Fellowship of the Ring, The (2001)
	 Batman (1989)
	 True Lies (1994)
	 Alien (1979)
	 Beauty and the Beast (1991)
	 Groundhog Day (1993)
	 Clueless (1995)
	 Taxi Driver (1976)
	 Heat (1995)
Cluster #7
	 Star Wars: Episode V - The Empire Strikes Back (1980)
	 Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)
	 Star Wars: Episode VI - Return of the Jedi (1983)
	 Saving Private Ryan (1998)
	 Lion King, The (1994)
	 Shrek (2001)
	 Reservoir Dogs (1992)
	 Austin Powers: The Spy Who Shagged Me (1999)
	 Minority Report (2002)
	 Sleepless in Seattle (1993)
Cluster #8
	 Shawshank Redemption, The (1994)
	 Ace Ventura: Pet Detective (1994)
	 E.T. the Extra-Terrestrial (1982)
	 Ocean's Eleven (2001)
	 Fifth Element, The (1997)
	 Jumanji (1995)
	 There's Something About Mary (1998)
	 Nightmare Before Christmas, The (1993)
	 Natural Born Killers (1994)
	 Shakespeare in Love (1998)
Cluster #9
	 Silence of the Lambs, The (1991)
	 Terminator 2: Judgment Day (1991)
	 Toy Story (1995)
	 Fugitive, The (1993)
	 Sixth Sense, The (1999)
	 Mission: Impossible (1996)
	 Inception (2010)
	 Good Will Hunting (1997)
	 Star Wars: Episode I - The Phantom Menace (1999)
	 GoldenEye (1995)